{% extends 'store/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <h1>Nosotros</h1>
    <p>Bienvenido a CARO GOUT, tu destino para gorros quirúrgicos personalizados artesanales. Nos especializamos en ofrecer productos únicos y de alta calidad diseñados para profesionales de la salud que buscan destacar con estilo y personalidad en su entorno de trabajo.</p>
        
        <p>En CARO GOUT, valoramos la precisión y la individualidad tanto como tú. Cada gorro quirúrgico que ofrecemos es meticulosamente confeccionado a mano por artesanos expertos, utilizando materiales de primera calidad que garantizan confort y durabilidad durante horas de uso.</p>
        
        <p>Nuestra misión es proporcionarte no solo un accesorio funcional, sino también una pieza que refleje tu estilo personal y profesionalismo. Ya sea que busques un diseño clásico y elegante o prefieras algo más vibrante y único, tenemos opciones que se adaptan a tu gusto y necesidades específicas.</p>
        
        <p>Además de la artesanía excepcional, nos comprometemos con la satisfacción del cliente. Ofrecemos un servicio personalizado y atención dedicada para asegurarnos de que cada compra sea una experiencia gratificante y sin complicaciones.</p>
        
        <p>Explora nuestra colección y descubre cómo puedes elevar tu imagen con nuestros gorros quirúrgicos personalizados. Únete a la comunidad de profesionales que eligen CARO GOUT para marcar la diferencia, un gorro a la vez.</p>
        
        <P>¡Gracias por elegirnos para acompañarte en tu jornada profesional!.</P>
    
</div>
{% endblock %}
